# Unity junk folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Pp]roject[Ss]ettings/
[Aa]ssets/
[Pp]ackages/

# System & Temp files
.DS_Store
Thumbs.db
*.log
.gemini/
